{% load static %}
<!-- footer-start -->
<footer>
    <div class="fotter-area d-ddark-bg">
        <div class="footer__top pt-60 pb-10">
            <div class="container custom-conatiner">
                <div class="row">
                    <div class="col-xxl-3 col-xl-4 col-lg-5 col-md-8">
                        <div class="footer__widget">
                            <div class="footer__widget-title mb-20">
                                <h4>Get In Touch</h4>
                            </div>
                            <div class="footer__widget-content">
                                <p class="footer-text mb-25">Find us on Social Media To get latest update on Wheels, Rims and Tires</p>
                                <div class="social-icon social-icon-2">
                                    <a href="https://facebook.com/ClivertWheels" target="_blank" class="facebook"><i class="fab fa-facebook-f"></i></a>
                                    <a href="https://twitter.com/ClivertWheels" target="_blank" class="twitter"><i class="fab fa-twitter"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="footer__widget footer-col-2">
                            <div class="footer__widget-title">
                                <h4>My Account</h4>
                            </div>
                            <div class="footer__widget-content">
                                <div class="footer__link footer__link-2">
                                    <ul>
                                        {% if user.is_superuser %}
                                        <li><a href="{% url 'admin_products' %}">Manage Products</a></li>
                                        <li><a href="{% url 'admin_add_product' %}">Add Product</a></li>
                                        <li><a href="{% url 'admin_orders' %}">Manage Orders</a></li>
                                        <li><a href="{% url 'admin_settings_home' %}">Home Settings</a></li>
                                        <li><a href="{% url 'admin_settings' %}">Site Settings</a></li>
                                        {% else %}
                                        <li><a href="{% url 'profile' %}">My Account</a></li>
                                        <li><a href="{% url 'checkout' %}">Checkout</a></li>
                                        <li><a href="{% url 'cart' %}">Shopping Cart</a></li>
                                        <li><a href="{% url 'wishlist' %}">Wishlist</a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="footer__widget footer-col-2">
                            <div class="footer__widget-title">
                                <h4>Customer Care</h4>
                            </div>
                            <div class="footer__widget-content">
                                <div class="footer__link footer__link-2">
                                    <ul>
                                        <li><a href="faq.html">New Customers</a></li>
                                        <li><a href="faq.html">How to use Account</a></li>
                                        <li><a href="faq.html">Placing an Order</a></li>
                                        <li><a href="faq.html">Payment Methods</a></li>
                                        <li><a href="faq.html">Delivery &amp; Dispatch</a></li>
                                        <li><a href="faq.html">Problems with Order</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4 col-sm-6">
                        <div class="footer__widget footer-col-2">
                            <div class="footer__widget-title">
                                <h4>Customer Service</h4>
                            </div>
                            <div class="footer__widget-content">
                                <div class="footer__link footer__link-2">
                                    <ul>
                                        <li><a href="faq.html">Help Center</a></li>
                                        <li><a href="contact.html">Contact Us</a></li>
                                        <li><a href="faq.html">Report Abuse</a></li>
                                        <li><a href="faq.html">Submit a Dispute</a></li>
                                        <li><a href="faq.html">Policies &amp; Rules</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="footer__bottom-2">
            <div class="container custom-conatiner">
                <div class="footer__bottom-content footer__bottom-content-2 pt-50 pb-50">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="footer__links footer__links-d text-center mb-25">
                                <p>
                                    <a href="{% url 'about' %}">About Us</a>
                                    <!-- <a href="contact.html">Delivery & Return</a>
                                    <a href="faq.html">Privacy Policy</a>
                                    <a href="faq.html">Help</a>
                                    <a href="contact.html">Order Tracking</a>
                                    <a href="contact.html">Contact Us</a>
                                    <a href="faq.html">FAQs </a> -->
                                </p>
                            </div>
                            <div class="payment-image text-center mb-25">
                                <a href="#"><img src="{% static 'shop/img/payment/payment.png' %}" alt=""></a>
                            </div>
                            <div class="copy-right-area copy-right-area-2 text-center">
                                <p>Copyright © <a href="/" class="main-color">ClivertWheels.</a> All Rights Reserved. Powered by <a href="https://mohuls.com"><span class="main-color">Mohuls Soft Limited.</span></a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer-end -->